version: '3.8'

services:
  app:
    build: .
    container_name: software-template-service
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
